.pedido {
    width: 100%;
    text-align: center;
}

table {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 3em;
}

th {
    text-align: center;
}

mat-icon {
    cursor: pointer;
}

.div-subtitulo {
    border-left: 11em solid white;
    padding-left: 2em;
}

.subtitulo {
    font-size: 20px;
    display: inline-block;
}

.hr-subtitulo {
    width: 80%;
    border-color: darkorange;
    margin-bottom: 50px;
}

mat-slider {
    width: 100%;
}