<div class="contenedor">
    <div class="titulo">
        <h1>Metodo de pago</h1>
    </div>
</div>
<hr>

<div class="div-subtitulo">
    <div class="subtitulo">
        <h2>Tarjeta de credito</h2>
    </div>
</div>
<hr class="hr-pago">
<div class="cestaPadre">
    <div *ngIf="tarjetas.length > 0" class="tarjetas">
        <div *ngFor="let item of tarjetas;  let i = index">
            <mat-checkbox [checked]="tarjetaSeleccionadaIndex === i" (change)="tarjetaSeleccionadaIndex = i">{{item.numero}}</mat-checkbox>
        </div>
        <button *ngIf="tarjetaSeleccionadaIndex > -1 && productosEnCesta.length > 0" mat-raised-button color="primary" (click)="guardarTarjetaSeleccionada()">Continuar</button>
    </div>
    <div *ngIf="tarjetas.length == 0">
        No existen tarjetas
    </div>
    <button mat-raised-button color="primary" routerLink="/tarjeta" routerLinkActive="active">Agregar tarjeta</button>
</div>

<div class="div-subtitulo">
    <div class="subtitulo">
        <h2>Cartera digital</h2>
    </div>
</div>
<hr class="hr-pago">
<div class="cestaPadre">
    <div class="tarjetas">
        <mat-checkbox (change)="creditoSeleccionadoIndex = 0">Credito en la cartera digital....{{creditoDigital}}</mat-checkbox>
        <button *ngIf="creditoSeleccionadoIndex > -1 && productosEnCesta.length > 0" mat-raised-button color="primary" (click)="guardarCarteraDigital()">Continuar</button>
    </div>
    <button mat-raised-button color="primary" routerLink="/creditodigital" routerLinkActive="active">Añadir credito digital</button>
</div>

<div class="div-subtitulo">
    <div class="subtitulo">
        <h2>Cupon de descuento</h2>
    </div>
</div>
<hr class="hr-pago">
<div class="cestaPadre">
    <div class="tarjetas">
        {{precioTotal}}
        <form [formGroup]="form" (ngSubmit)="aplicarCuponDescuento()">
            <mat-form-field appearance="fill">
                <mat-label>Cupon descuento</mat-label>
                <input matInput type="text" name="codigo" formControlName="codigo" placeholder="SMASH">
            </mat-form-field><br>
            <button mat-raised-button type="submit">Aceptar</button>
        </form>
    </div>
</div>