<header>
    <div class="wrapper">
        <div>
          <a class="logo" routerLink="" routerLinkActive="active">Smash&Eat Me</a>
        </div>
        <nav>
            <a routerLink="/listadousuarios" routerLinkActive="active">Usuarios</a><!-- Usuario admin -->
            <a routerLink="/listadocupones" routerLinkActive="active">Cupones</a><!-- Usuario admin -->
            <a routerLink="/registro" routerLinkActive="active">Cuenta</a>
            <a routerLink="/historialpedidos" routerLinkActive="active">Pedidos</a>
            <a routerLink="/reservamesa" routerLinkActive="active">Reservar mesa</a>
            <a routerLink="/cesta" routerLinkActive="active" *ngIf="numberOfItems !== 0">
               <mat-icon matBadge="{{numberOfItems}}" matBadgeColor="warn">shopping_basket</mat-icon>
            </a>
            <a routerLink="/cesta" routerLinkActive="active" *ngIf="numberOfItems == 0">
               <mat-icon>shopping_basket</mat-icon>
            </a>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>