header {
    width: 100%;
    overflow: hidden;
    background-color: darkorange;
    margin-bottom: 2em;
}

.wrapper {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

img {
    width: 15%;
}

header .logo-texto {
    float: left;
}

header .logo {
    color: #f2f2f2;
    font-size: 30px;
    text-decoration: none;
    line-height: 100px;
}

header nav {
    float: right;
    line-height: 100px;
}

header nav button {
    display: inline-block;
    color: #fff;
    padding: 1.5em 3em;
}

mat-icon {
    font-size: 30px;
}

span {
    font-size: 15px;
}