mat-grid-tile {
    background: transparent;
}

mat-grid-tile-footer .texto {
    text-align: center;
    font-size: 18px;
}

.listado {
    padding-left: 75px;
    padding-right: 75px;
    font-size: 20px;
}

.busqueda {
    font-size: 15px;
    float: right;
}

button {
    cursor: pointer;
}

mat-paginator {
    background-color: darkorange;
    margin-top: 50px;
}

.fa-icono {
    font-size: 35px;
    position: absolute;
    right: 20px;
    top: 7px;
    cursor: pointer;
}

.boton {
    margin-top: -1em;
    margin-bottom: 1em;
    margin-left: 1.5em;
}

.mat-form-field {
    width: 100%;
}