<div class="contenedor">
    <div class="titulo">
        <h1>Agregar direccion</h1>
    </div>
</div>
<hr>

<div class="formPadre">
    <div class="formRegistro">
        <form [formGroup]="form" (ngSubmit)="crearDireccion()">
            <mat-form-field appearance="fill">
                <mat-label>Nombre de la direccion</mat-label>
                <input matInput type="text" name="nombreDireccion" formControlName="nombreDireccion" placeholder="Mi casa">
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <mat-label>Direccion</mat-label>
                <input matInput type="text" name="direccion" formControlName="direccion" placeholder="Calle y numero">
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <mat-label>Pais</mat-label>
                <input matInput type="text" name="pais" formControlName="pais" placeholder="España">
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <mat-label>Ciudad</mat-label>
                <input matInput type="text" name="ciudad" formControlName="ciudad" placeholder="Sevilla">
            </mat-form-field><br>
            <button mat-stroked-button type="submit">Aceptar</button>
        </form>
    </div>
</div>