<!-- <div class="footer">
    <div class="contenedor">
        
        <p>Correo personal: romeropozojosecarlos@gmail.com</p>
        <p>Correo corporativo: josrompoz1@alum.us.es</p>
        <p class="name">&copy; Smash&Eat Me</p>
    </div>
</div> -->

<footer>
    <div class="row primary">
        <div class="column about">
            <h3>Smash & Eat Me</h3>
            <p>
                Descripción de Smash & Eat Me (spitch elevator)
            </p>

            <div class="social">
                <i class="material-icons">html</i>
                <i class="material-icons">css</i>
                <i class="material-icons">javascript</i>
            </div>
        </div>

        <div class="column links">
            <h3>Contacto</h3>
            <ul>
                <li>
                    <p>Correo personal: romeropozojosecarlos@gmail.com</p>
                </li>
                <li>
                    <p>Correo corporativo: josrompoz1@alum.us.es</p>
                </li>
            </ul>
        </div>

        <div class="column links">
            <h3>Informacion</h3>
            <ul>
                <li>
                    <p>Escuela Técnica Superior de Ingeniería Informática</p>
                </li>
                <li>
                    <p>Universidad de Sevilla</p>
                </li>
            </ul>
        </div>

        <!-- <div class="column subscribe">
            <h3>Newsletter</h3>
            <div>
                <input type="email" placeholder="Your email id here" />
                <button>Subscribe</button>
            </div>

        </div> -->

    </div>

    <div class="row copyright">
        <div class="footer-menu">

            <a href="">GitHub</a>
            <!-- <a href="">About</a>
            <a href="">Contact</a>
            <a href="">Blog</a>
            <a href="">Social</a> -->

        </div>
        <p>OWASP Smash&Eat Me</p>
    </div>
</footer>