<div class="contenedor">
    <div class="titulo">
        <h1>Selecciona direccion</h1>
    </div>
</div>
<hr>

<div class="cestaPadre">
    <div *ngIf="direcciones.length > 0" class="direcciones">
        <div *ngFor="let item of direcciones;  let i = index">
            <mat-checkbox [checked]="direccionSeleccionadaIndex === i" (change)="direccionSeleccionadaIndex = i">{{item.direccion}}</mat-checkbox>
        </div>
        <button *ngIf="direccionSeleccionadaIndex > -1 && productosEnCesta.length > 0" mat-raised-button color="primary" (click)="guardarDireccionSeleccionada()">Continuar</button>
    </div>
    <div *ngIf="direcciones.length == 0">
        No existen direcciones
    </div>
    <button mat-raised-button color="primary" routerLink="/direccion" routerLinkActive="active" >Agregar direccion</button>
</div>
<router-outlet></router-outlet>