<div class="contenedor">
    <div class="titulo">
        <h1>Selecciona direccion</h1>
    </div>
</div>
<hr>

<div class="cestaPadre">
    <div *ngIf="direcciones.length > 0" class="direcciones">
        <button class="guardar" mat-stroked-button (click)="guardarDireccionSeleccionada()" [disabled]="disableButton">Continuar</button>
        <button class="add-direccion" mat-stroked-button (click)="addDireccion()">Añadir direccion</button>
        <div class="direccion">
            <table class="table-detalles">
                <tr *ngFor="let item of direcciones;  let i = index">
                    <td>
                        <mat-checkbox [checked]="direccionSeleccionadaIndex === i"
                            (change)="setDireccionSeleccionadaIndex(i)">{{item.direccion}}</mat-checkbox>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="direcciones.length == 0">
        <button class="add-direccion" mat-stroked-button (click)="addDireccion()">Añadir direccion</button>
        No existen direcciones
    </div>
</div>
<router-outlet></router-outlet>