.cestaPadre {
    background-color: #ECEFF1;
    margin-right: 15rem;
    margin-left: 15rem;
    height: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5em;
}

.direcciones {
    width: 80%;
}

.add-direccion {
    float: right;
    margin-right: 5em;
}

.guardar {
    float: left;
    margin-left: 5em;
}

button {
    margin-bottom: 2em;
}

.table-detalles {
    margin: 0 auto;
    margin-top: 3em;
    height: 4em;
}

table, th, td {
    font-size: medium;
    border: 2px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #e1f5fd;
    font-size: medium;
    font-style: italic;
  }

mat-checkbox {
    margin-left: 2em;
    margin-right: 2em;
}

.cero {
    font-size: medium;
    font-style: italic;
}