.div-subtitulo {
    border-left: 11em solid white;
    padding-left: 2em;
}

.subtitulo {
    font-size: 20px;
    display: inline-block;
}

.hr-subtitulo {
    width: 80%;
    border-color: darkorange;
    margin-bottom: 50px;
}

.tarjetas {
    width: auto;
}

h2 {
    margin-top: 1em;
}

mat-slider {
    width: 80%;
}

button {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
}

p {
    margin-top: 2em;
    font-size: large;
    font-weight: bold;
}

mat-checkbox {
    margin-bottom: 1em;
    font-size: medium;
}