<div class="contenedor">
    <div class="titulo">
        <h1>Cartera digital</h1>
    </div>
</div>
<hr>

<div class="div-subtitulo">
    <div class="subtitulo">
        <h2>Seleccionar tarjeta</h2>
    </div>
</div>
<hr class="hr-subtitulo">
<div class="formPadre">
    <div *ngIf="tarjetas.length > 0" class="formHijo">
        <button mat-stroked-button routerLink="/tarjeta" routerLinkActive="active">Agregar tarjeta</button>
        <div *ngFor="let item of tarjetas;  let i = index">
            <mat-checkbox [checked]="tarjetaSeleccionadaIndex === i" (change)="setTarjetaSeleccionadaIndex(i)">
                {{item.numero}}</mat-checkbox>
        </div>
    </div>
    <div *ngIf="tarjetas.length == 0">
        No existen tarjetas
    </div>
</div>

<div class="div-subtitulo">
    <div class="subtitulo">
        <h2>Añadir credito</h2>
    </div>
</div>
<hr class="hr-subtitulo">
<div class="formPadre">
    <div class="formHijo">
        <p>Credito en la cartera digital....  {{creditoDigital | number : '.2-2'}} €</p>
        <div class="form">
            <mat-slider class="example-margin" [max]=100 [min]=0 [step]=1 [thumbLabel]=true [(ngModel)]="value"
                aria-labelledby="example-name-label" (change)="setCreditoSeleccionado(value)">
            </mat-slider>
        </div>
        <button class="tarjetas" mat-stroked-button (click)="anyadirCredito()" [disabled]="disableButton">Aceptar</button>
    </div>
</div>