<div class="contenedor">
    <div class="titulo">
        <h1>Cupones de descuento</h1>
    </div>
</div>
<hr>

<button mat-stroked-button  (click)="abrirCuponDialog()">Añadir cupon de descuento</button>

<div class="cupones">
    <table mat-table [dataSource]="cupones" class="mat-elevation-z8">

        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="porcentaje">
            <th mat-header-cell *matHeaderCellDef> Porcentaje de descuento </th>
            <td mat-cell *matCellDef="let element"> {{element.porcentaje}} % </td>
        </ng-container>

        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Editar cupon </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="abrirCuponDialog(element)">edit</mat-icon>
            </td>
        </ng-container>

        
        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar cupon </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="deleteCupon(element)">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>