.cupones {
    width: 100%;
}

table {
    margin: 0 auto;
    width: 70%;
}

.mat-column-codigo {
    width: 40%;
    border-right: 1px solid;
    text-align: center;
    font-style: italic;
    font-size: medium;
}

.mat-column-porcentaje {
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.mat-column-editar {
    text-align: center;
    font-size: medium;
}

.mat-column-eliminar {
    text-align: center;
    font-size: medium;
}

button {
    margin-left: 7em;
    margin-bottom: 2em;
}