.padre {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hijo1 {
    width: 50%;
    text-align: center;
}

.hijo2 {
    width: 50%;
    text-align: center;
}