<div class="contenedor">
    <div class="titulo">
        <h1>Su cesta</h1>
    </div>
</div>
<hr>

<div class="cestaPadre">
    <div *ngIf="productosCantidad.size > 0" class="cesta">
        <button class="tramitar" mat-stroked-button (click)="activarDireccion()">Continuar</button>
        <button class="vaciar" mat-stroked-button (click)="vaciarCesta()">Vaciar cesta</button>
        <div class="producto" *ngFor="let key of productosCantidad.keys()">
            <table class="table-detalles">
                <tr>
                    <td class="td-imagen"><img src="{{key.imagen}}" /></td>
                    <td class="td-nombre">{{key.nombre}}</td>
                    <td class="td-eliminar"><mat-icon (click)="eliminarUnProducto(key)">remove_circle_outline</mat-icon></td>
                    <td class="td-cantidad">{{productosCantidad.get(key)}}</td>
                    <td class="td-añadir"><mat-icon (click)="anyadirUnProducto(key)">add_circle</mat-icon></td>
                    <td class="td-precio">{{productosPrecio.get(key.nombre)  | number : '.2-2'}} €</td>
                </tr>
            </table>
            <hr>
        </div>
        <div class="producto">
            <table class="table-detalles">
                <tr>
                    <td class="td-imagen"></td>
                    <td class="td-nombre"></td>
                    <td class="td-eliminar"></td>
                    <td class="td-cantidad"></td>
                    <td class="td-añadir"></td>
                    <td class="td-precio">{{precioTotal | number : '.2-2'}} €</td>
                </tr>
            </table>
        </div>
        
    </div>
    
    <div *ngIf="productosCantidad.size == 0" class="cesta">
        Sin productos en la cesta
    </div>
</div>

<div *ngIf="enableDireccion">
    <app-direccion-usuario></app-direccion-usuario>
</div>