<div class="contenedor">
    <div class="titulo">
        <h1>Su cesta</h1>
    </div>
</div>
<hr>

<div class="cestaPadre">
    <div *ngIf="productosCantidad.size > 0" class="cesta">
        <button class="vaciar" mat-raised-button color="primary" (click)="vaciarCesta()">Vaciar cesta</button>
        <div class="producto" *ngFor="let key of productosCantidad.keys()">
            <img src="{{key.imagen}}" />
            {{key.nombre}}
            <mat-icon (click)="eliminarUnProducto(key)">remove_circle_outline</mat-icon>
            {{productosCantidad.get(key)}}
            <mat-icon (click)="anyadirUnProducto(key)">add_circle</mat-icon>
            {{productosPrecio.get(key.nombre)}}
            <hr>
        </div>
        <div class="precio">{{precioTotal}}</div>
        <button class="tramitar" mat-raised-button color="primary" (click)="tramitarPedido()">Continuar</button>
    </div>
    
    <div *ngIf="productosCantidad.size == 0" class="cesta">
        Sin productos en la cesta
    </div>
</div>
<router-outlet></router-outlet>