<header>
    <div class="wrapper">
        <div class="logo">Smash&Eat Me</div>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Inicio</a>
            <a href="#">Inicio</a>
            <a href="#">Inicio</a>
        </nav>
    </div>
</header>
<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar> -->