<h1>Nuestros productos</h1>
<ul>
    <li *ngFor="let producto of productos">
        <button type="button" (click)="onSelect(producto)">
        <span><h2>{{producto.nombre | uppercase}}</h2></span>
        </button>
    </li>
</ul>

<div *ngIf="selectedProducto">
    <h2>Detalles del producto {{selectedProducto.nombre | uppercase}}</h2>
    <div>{{selectedProducto.descripcion}}</div>
    <div>{{selectedProducto.precio}} €</div>
    <div>Tipo de producto: {{selectedProducto.tipoPlato.nombre}}</div>
</div>