button {
    margin-bottom: 3em;
    background-color: #ffc11b;
}

mat-slider {
    width: 50%;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.mat-form-field {
    width: 60%;
    margin-bottom: 1em;
}