.contenedor {
    border-right: 75px solid white;
    border-left: 75px solid white;
    background-color: transparent;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 50px;
}

.titulo {
    font-size: 20px;
    display: inline-block;
}

hr {
    width: 95%;
    border-color: darkorange;
    margin-bottom: 50px;
}