.formPadre {
    background: transparent;
    /* width: 600px; */
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.formRegistro {
    background: rgb(222, 219, 219);
    width: 500px;
}

.mat-form-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-label {
    color: black;
}

button {
    background-color: darkorange;
    
}