<mat-dialog-actions>
    <mat-icon (click)="onClose()">close</mat-icon>
</mat-dialog-actions>
<div *ngIf="productoService.selectedProducto">
    <h2 mat-dialog-title>{{productoService.selectedProducto.nombre | uppercase}}</h2>
    <mat-dialog-content>
        <div class="contenido">
            <div><img src="{{productoService.selectedProducto.imagen}}"></div>
            <div>Descripción del producto: {{productoService.selectedProducto.descripcion}}</div>
            <div>Precio: {{productoService.selectedProducto.precio}} €</div>
            <div>Tipo de producto: {{productoService.selectedProducto.tipo}}</div>
        </div>
    </mat-dialog-content>
</div>