.cestaPadre {
    background-color: #EEEEEE;
    margin-right: 15rem;
    margin-left: 15rem;
    height: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    /* IMPORTANTE */
    display: flex;
    justify-content: center;
    align-items: center;
}

.horas {
    width: auto;
}