<div class="contenedor">
    <div class="titulo">
        <h1>Elige hora de entrega</h1>
    </div>
</div>
<hr>

<div class="cestaPadre">
    <div class="horas">
        <button class="continuar" *ngIf="horaSeleccionadaIndex > -1 && productosEnCesta.length > 0" mat-stroked-button  (click)="guardarHoraSeleccionada()">Continuar</button>
        <div *ngFor="let item of horas;  let i = index">
            <mat-checkbox [checked]="horaSeleccionadaIndex === i" (change)="horaSeleccionadaIndex = i">{{item}}</mat-checkbox>
        </div>
    </div>
</div>
<router-outlet></router-outlet>